* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

.header{
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    z-index: 1000;
}
.header.scrolled {
    width: 100%;
    background-color: #fff;
    animation-name: example;
    animation-duration: .5s; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .header.scrolled_font {
    width: 100%;
    background-color: #fff;
    animation-name: example;
    animation-duration: .5s; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  @keyframes example {
    from {background-color: rgba(255, 255, 255, 0);}
    to {    background-color: #fff;
    }
  }
  .container-fluid .navbar-brand:hover {
    color: #aa1e1e;
}
.navbar {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #f1f1f1;
    transition: 3s ease;
    
}
li {
 
    transform: .5s;

}

li:hover {
    color: #F63D30;
    cursor: pointer;
    transform: .5s;

}

.navbar .navbar-brand {
    font-size: 30px;

}

.navbar .container-fluid {
    margin-left: 10px;
}
.navbar-nav .nav-item a:hover{
    color: #771616;
}

.navbar .container-fluid li {
    padding: 20px;
}

.header .logo {
    padding: 15px 0 0 15px;
    position: relative;
    width: 30%;
    z-index: 600;
}




.container {
    width: 100%;
    display: flex;
    max-height: 650px;
    /* width: 35%;
 
    margin-left: -170px; */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 20px 10px;
}

.sidebar {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
.container .category .category-item{
    font-size: 18px;
    list-style-type: none;
    padding: 5px 0;

}

.category-list{
    border: none;
}
.scoll{
    font-size: 30px;
    margin-left: 20px;
}
.scoll p{
}
.slideshow {
    z-index: 1;
}

/*Sp chi tiet*/

.product-detail{
    width: 100%;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


.product-detail .product-detail-item-img{
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;

    
}
.product-detail .product-detail-item-img img{
    padding: 15px ;
    margin-left: 20px;
}
.product-detail-appreciate__space.product-detail-appreciate__appre{
    display: flex;
    line-height:14px;

}
.product-detail .product-detail-title{
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


    
}


.product-detail-title .product-detail-title-1{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 19px;


}


.product-detail-appreciate__space.product-detail-appreciate__rating{
    height: 29PX;
    border: 2px solid #d5cb05;
    padding: 2px 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #f2f0f0, #f3f1b7);

}
.product-detail-title-1 .product-detail-price{
    display: flex;
    background: linear-gradient(to right, #f2f0f0,#d7d6d6);
    border-radius: 10px;
    padding: 20px;

}
.product-detail-title-1 .product-detail-price label{
    font-size: 19.5px;
    font-weight: 700;
}
.product-detail-price__old{
    text-decoration: line-through;
    padding: 5px 2px 0 6px;
}
.home-product-item__price-new{
    padding: 2px 4px;
    color: #e20c0c;
    margin-top: -4px;
    font-weight: 700;
    font-size: 24px;
}
.product-detail-appreciate__space{
    margin: 10px 20px 0;
}
.product-detail-label-lb{
    margin-left: 10px;
    margin-top: -4px;

}
.product-detail-favorite i{
    color: #e10505;
    font-size: 25px;
    
   

}

.product-detail-favorite{
    font-weight: 900;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;

}

.product-detail-price-sale{
    margin-left: 20px;
    margin-top: .2px;
    
}
.home-product-item__sale {
    position: absolute;
    right: 0;
    top: 0;
    width: 59px;
    height: 56px;
    background-color: rgba(237, 64, 51, 1);
    text-align: center;
    font-weight: 700;
    

}

.home-product-item__sale::after {
    content: "";
    position: absolute;
    top: 56px;
    left: 0;
    border-width: 0 30px 6px;
    border-style: solid;
    border-color: red rgba(237, 64, 51, 1) transparent rgba(237, 64, 51, 1);
}

.home-product-item__sale-percent {
    color: #ffc90e;
    font-size: 13px;
}

.home-product-item__sale-label {
    position: absolute;
    left: 5px;
    top: 19px;
    color: white;
    font-size: 12px;
    font-weight: 450;
}

span{
    margin: -4px 8px 0 0;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.home-product-item__rating {
    font-size: 9px;
    color: #D5D5D5;
    margin: -1px 10px 0 auto;
}

.home-product-item__star-gold {
    color: #ffce3d;
}

.home-product-item__sold {
    font-size: 14px;
    margin-left: 2px;
    color: #333;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    color: #595959;
    margin: 0 5px;
}
.heart-button {
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: gray;
    transition: color 0.3s ease;
  }

  .heart-button.active i{
    color: rgb(236, 3, 42);
    font-size: 25px;
    font-weight: 800;
    

  }

  /* Tạo hiệu ứng trái tim */
  .heart-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: red;
    opacity: 0;
    animation: pop 0.5s ease forwards;
  }

  @keyframes pop {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(2);
    }
  }
/* btn */
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrap i{
   padding: 2px 15px;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    display: inline-flex;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px 15px;
    margin-top: 100px;
    }
  
  .button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, 
  .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .button:hover::before, 
  .button:focus::before {
    opacity: 1;
  }
  
  .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .button:hover::after, 
  .button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }





  /* footer */
  .footer {
    border-top: 4px solid #ffc90e;
    padding-top: 12px;
    display: flex;
    justify-content: space-around;
    background: #333;
    color: #f1f1f1;
    padding-bottom: 120px;
    



}

.footer__heading {
    font-size: 30px;
    margin-left: 30px;
}

.footer-list {
    padding-left: 0;
    list-style: none;
    display: flex;
    font-size: 25px;
    padding: 10px;
}

.footer-list li{
    padding-left: 30px;
   
}
.footer-item-link {
    text-decoration: none;
    color: #f1f1f1;
    padding: 6px 0;
    display: block;
}

.footer-item-link:hover {
    color: #ffc90e;
}

.footer__input {
    margin: 6px 0;
    width: 230px;
}

.footer__bottom {
    background-color: #f5f5f5;
    text-align: center;
}











