* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

/* Phần đầu */
.header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    z-index: 800;
}

.header.scrolled {
    width: 100%;
    background-color: #fff;
    animation-name: example;
    animation-duration: .1s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@keyframes example {
    from {
        background-color: rgba(255, 255, 255, 0);
    }

    to {
        background-color: #fff;
    }
}

.navbar {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #f1f1f1;
    transition: .5s ;
    z-index: 1000;


}

.logo-container .logo-text {
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    text-align: center;
    letter-spacing: 50px;
    background-color: transparent;
    z-index: 800;
    width: 100%;
}

.logo-text {
    font-size: 320px;
    transition: all 0.5s ease;
    letter-spacing: 50px;
    font-family: serif;
    color: #fff;
    margin-left: 50px;
    margin-top: -90px;
}

.header .logo {
    padding: 15px 0 0 15px;
    position: relative;
    width: 30%;
    z-index: 600;
}

.navbar .navbar-brand {
    font-size: 30px;
    z-index: 1000;
    

}
.container-fluid .navbar-brand:hover {
    color: #aa1e1e;
}

.navbar-nav .nav-item a:hover {
    color: #aa1e1e;
}

.navbar .container-fluid {
    margin-left: 20px;

}

.navbar .container-fluid li {
    padding: 20px;

}






/* Phần thân */
.container {
    display: flex;
    justify-content: center;
}



.container,
.container-box {
    display: flex;
    justify-content: center;

}
.elementor-widget img{
    width: 1775px;
    height: 100%;
    position: relative;
}
.slide-image img{
    width: 775px;
    height: 100%;
}


/* Căn chỉnh cho container */
.text-overlay {
    position: absolute;
    width: fit-content;
    padding: 20px;
    /* background-color: rgba(0, 0, 0, 0.4); */
    background: transparent;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    font-size: 23px;
    top: 1040px;
    left: 670px;

    font-family: Arial, sans-serif;
}


/* Phong cách cho tiêu đề */
.text-overlay h1 {
    font-size: 2em;
    font-weight: bold;
    font-family: Garamond, serif;
    letter-spacing: 5px;
    margin: 20px 0;
}

/* Phong cách cho dòng phụ */
.text-overlay a {
    /* background-color: rgba(0, 0, 0, 0.6); */
    padding: 18px 23px;
    border: 3px solid #fefcfc;
    font-size: 1em;
    font-weight: normal;
    color: #fefefe;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    border-radius: 5px;
    transition:0.3s ease; /* Thiết lập hiệu ứng chuyển tiếp */

}
.text-overlay a:hover {
    background-color: rgba(250, 247, 247, 0.7);
    padding: 18px 23px;
    border: 3px solid #fefcfc;
    font-size: 20px;
    transition:0.3s ease; /* Thiết lập hiệu ứng chuyển tiếp */
    font-weight: normal;
    color: #000;
    margin-top: 10px;
    display: inline-block;
    border-radius: 5px;
}
.box:hover {
    transform: scale(1.1) rotate(10deg); /* Tăng kích thước và xoay khi rê chuột */
}


.elementor-widget-container{
    padding: 15px;

}






.container {
    display: flex;
    padding:10px;

}

.elementor-divider1,.elementor-divider2,.elementor-divider3,.elementor-divider4 {
    width: 100%;
    font-family: serif;
    text-align: center;
    margin-top: 40px;
    color: #54595f;
    font-family: "Rokkitt", Sans-serif;
    display: inline-block;
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
}





/* footer */
.footer {
    border-top: 4px solid #ffc90e;
    padding-top: 12px;
    display: flex;
    justify-content: space-around;
    background: #333;
    color: #f1f1f1;


}

.footer__heading {
    font-size: 30px;
    margin-left: 30px;
}

.footer-list {
    padding-left: 0;
    list-style: none;
    display: flex;
    font-size: 25px;
    padding: 10px;
}

.footer-list li{
    padding-left: 30px;
   
}
.footer-item-link {
    text-decoration: none;
    color: #f1f1f1;
    padding: 6px 0;
    display: block;
}

.footer-item-link:hover {
    color: #ffc90e;
}

.footer__input {
    margin: 6px 0;
    width: 230px;
}

.footer__bottom {
    background-color: #f5f5f5;
    text-align: center;
}